---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* system typefaces */
$serif: "Noto Serif KR", Georgia, Times, serif;
$sans-serif: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace: D2Coding, Monaco, Consolas, "Lucida Console", monospace;

$right-sidebar-width-narrow: 180px;
$right-sidebar-width: 200px;
$right-sidebar-width-wide: 220px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
